.customCard {
  background-color: #2c2c2c !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3) !important;
  color: #ffffff !important;
}

.customButton {
  background-color: #2c2c2c !important;
  border-color: #ffffff !important;
  width: 100px !important;
}

.customButton:hover {
  background-color: #000000 !important ;
  border-color: #000000 !important;
}

.customLink {
  color: #ffffff !important;
  text-decoration: none !important;
}

.customLink:hover {
  color: #dbdbdb !important;
}

